.project-section {
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------- */


.project-title-block {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100px;
    background-color: #14213d;
    /* border: 1px solid red; */
    padding-left: 15%;
    padding-right: 20%;
}

.projects-title {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin-left: 20px;
}

.icon {
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

/* ------------------------------------------ */



.project-wrapper {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid black;
}

.image-style{
    height: 300px;
    width: auto;
}

.image-stlye {
    object-fit: cover;
}

/* ------ */

.project-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    max-width: 600px;
}

.project-name {
    margin-top: 0;
    margin-bottom: 0px;
}

.project-techs {
    font-size: 15px;
    font-weight: 700;
}

.project-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
