.dot:hover {
    color: #a8dadc;
}

.dot:active {
    color: #fdc237;
}

.active {
    color: #e63946;
}

.arrow-select {
    transition: color 0.05s ease-in-out;
}

.arrow-select:hover {
    color: #a8dadc;
}

.arrow-select:active {
    color:  #fdc237;
}
